Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
string_var = "Manivarma"
list_var = [1,2,3,'a', 'b']
float_var = 14.014
tuple_var = (1, 2, 3, 'a', 'b')

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

In [4]:
var1 = ''
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [5]:
'''
/ is used for performing division operation
% is used for performing modulo operation
// is used for performing floor division operation
** is used for performing power operation
'''

print(14/7)
print(14%7)
print(14//7)
print(14**7)

2.0
0
2
105413504

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
ls = [1, 2, 'abc', "efg", [1,2,3], 1+2j, 13.003, (1, 2, 3), 14, 5]
for i in ls:
    print(i, ' ---> ', type(i))

1  --->  <class 'int'>
2  --->  <class 'int'>
abc  --->  <class 'str'>
efg  --->  <class 'str'>
[1, 2, 3]  --->  <class 'list'>
(1+2j)  --->  <class 'complex'>
13.003  --->  <class 'float'>
(1, 2, 3)  --->  <class 'tuple'>
14  --->  <class 'int'>
5  --->  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
A = int(input('enter A: '))
B = int(input('enter B: '))
if A%B == 0:
    print(A/B)

enter A: 15
enter B: 3
5.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [12]:
ls = list(range(25))
for i in ls:
    if i%3 == 0:
        print(i, " divisible by 3")
    else:
        print(i, " not divisible by 3")

0  divisible by 3
1  not divisible by 3
2  not divisible by 3
3  divisible by 3
4  not divisible by 3
5  not divisible by 3
6  divisible by 3
7  not divisible by 3
8  not divisible by 3
9  divisible by 3
10  not divisible by 3
11  not divisible by 3
12  divisible by 3
13  not divisible by 3
14  not divisible by 3
15  divisible by 3
16  not divisible by 3
17  not divisible by 3
18  divisible by 3
19  not divisible by 3
20  not divisible by 3
21  divisible by 3
22  not divisible by 3
23  not divisible by 3
24  divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [13]:
'''
    the value of the mutable objects can be changed whereas it is not possible in immutable objects
'''
immutable_obj = "yes I am Immutable"
mutable_obj = [1, 2, 3]

mutable_obj[2] = 4
print(mutable_obj)

immutable_obj[2] = 'a'
print(immutable_obj)

[1, 2, 4]

TypeError: ignored